# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Transporters.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\misha\Programming\UnityProjects\Transporters\.idea\.idea.Transporters\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
